<?php
require_once('cabecalho_tpl.php');
?>
<div class="container">
    <h3>Gerar Lista de Alimentos - Banco de Dados</h3>

    <p>O arquivo foi importado corretamente, verifique abaixo os itens!</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th cope="col">Mês</th>
                <th cope="col">Categoria</th>
                <th cope="col">Produto</th>
                <th cope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody>
    <?php
    foreach($data['lista'] as $mes => $categorias){
        foreach($categorias as $categoria => $produtos){
            foreach($produtos as $produto => $quantidade) {
                echo "<tr>
                        <td>".ucwords($mes)."</td>
                        <td>".ucwords($categoria)."</td>
                        <td>".ucwords($produto)."</td>
                        <td>".$quantidade."</td>
                     </tr>";
            }
        }
    }
?>
        </tbody>
    </table>
</div>
<?php
require_once('rodape_tpl.php');
?>
