<?php
require_once('cabecalho_tpl.php');
?>
<div class="container">
    <h3>Gerar Lista de Alimentos</h3>

    <p>Para gerar as listas, execute as URLs abaixo:</p>
    <ul>
        <li><a href="lista-csv">Gerar Arquivo CSV</a></li>
        <li><a href="lista-bd">Gravar Lista no Banco de Dados</a></li>
    </ul>
</div>
<?php
require_once('rodape_tpl.php');
?>
