<?php
require_once('cabecalho_tpl.php');
?>
<div class="container">
    <h3>Gerar Lista de Alimentos - CSV</h3>

    <p>O arquivo foi gerado corretamente, verifique a pasta Downloads!</p>
</div>
<?php
require_once('rodape_tpl.php');
?>
